.NavBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(24, 23, 23);
    width:100vw;
    border: solid 2px whitesmoke;
    box-shadow: 0px 0px 5px wheat
;
}

.NavBar-img-logo img{
    width: 3rem;
    padding: 5px;
    margin: 0 0 0 0;
    border-radius: 20px;
}

.NavBar-links{
    width: 15rem;
    display: flex;
    justify-content: space-between;
}

.NavBar-Search{
    width: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}